$width-max: 100%;

@mixin large-text {
  font: {
    family: Inter;
    style: normal;
  };
}

.evt-btn {
  width: 225px;
  height: 60px;
  background-color: #0D63F3;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  @include large-text;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 25px 0 35px 65px;
  cursor: pointer;
  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color: inherit;
    height: 100%;
    width: 100%;
  }
}

.tbl {
  margin: 0 auto;

  // HEADERS ***********************************************************

  &__headers {
    display: flex;
    margin: 0 65px 50px;
    padding: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #93A2B8;
    list-style-type: none;
    width: $width-max;
  }

  &__header-number {
    max-width: 49px;
    margin-right: 10px;
  }

  &__header-title {
    max-width: 261px;
    margin-right: 24px;
  }

  &__header-status {
    max-width: 211px;
    margin-right: 24px;
  }

  &__header-date {
    max-width: 204px;
    margin-right: 24px;
  }

  &__header-lead {
    max-width: 205px;
    margin-right: 24px;
  }

  &__header-moder {
    max-width: 205px;
    margin-right: 24px;
  }

  &__header-access {
    max-width: 199px;
    margin-right: 24px;
  }

  &__header-chat {
    max-width: 136px;
    margin-right: 24px;
  }

  &__header-options {
    max-width: 142px;
  }

  &__header-btn {
    width: 8px;
    height: 14px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin-left: 10px;
  }

  // CONTENTS ***********************************************************

  &__contents {
    display: flex;
    margin: 0 65px 42px;
    padding: 0;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      bottom: -43px;
      margin-bottom: 25px;
      border: 1px solid #D3DDEC;
      max-width: 1789px;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style-type: none;
    width: $width-max;

    &-status {
      justify-content: center;
    }

    &-chat {
      justify-content: end;
    }

    &-options {
      justify-content: center;
    }
  }

  &__content-number {
    max-width: 49px;
    margin-right: 10px;
  }

  &__content-title {
    max-width: 261px;
    margin-right: 24px;
    position: relative;
    justify-content: space-between;
  }

  &__content-title-btn {
    max-width: 29px;
    max-height: 29px;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-image: url("/src/images/Plus.png");
    background-position: center;
    background-size: cover;

    &_active {
      background-image: url("/src/images/minus.png");
    }
  }

  &__content-status-btn {
    width: 145px;
    height: 45px;
    background-color: #E2ECF4;
    border-radius: 5px;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    border: none;
    margin-left: -15px;
    cursor: pointer;

    &_active {
      background-color: #EAF9E8;
    }
  }

  &__content-date {
    max-width: 204px;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    margin-left: 10px;
  }

  &__content-lead {
    max-width: 205px;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: end;
  }

  &__content-moder {
    max-width: 205px;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: end;
  }

  &__content-access-btn {
    width: 104px;
    height: 45px;
    background-color: #F5E3DC;
    border-radius: 5px;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    border: none;
    margin-left: 110px;
    cursor: pointer;

    &_active {
      background-color: #EAF9E8;
    }
  }

  &__content-chat-btn {
    width: 64px;
    height: 45px;
    background-color: #F5E3DC;
    border-radius: 5px;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    border: none;
    margin-right: 24px;
    cursor: pointer;

    &_active {
      background-color: #EAF9E8;
    }
  }

  &__content-options-btn {
    width: 46px;
    height: 45px;
    background-color: rgba(147, 162, 184, 0.07);;
    border-radius: 7px;
    @include large-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 17px;
    cursor: pointer;
  }

  &__content-options-btn:last-child {
    margin-right: 0;
  }

  &__content-details {
    display: none;
    list-style-type: none;
    @include large-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 25px 0 41px;
    padding-left: 125px;

    &_elem {
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    &_elem-link {
      text-decoration: none;
      @include large-text;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #0D63F3;
    }

    &_active {
      display: block;
    }
  }
}

// POPUP DELETE **********************************************************************

.popup__delete {
  width: 547px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: grid;

  &_text {
    @include large-text;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin: 23px auto 49px;
  }

  &_yes-btn {
    align-items: center;
    width: 309px;
    height: 60px;
    background: #0D63F3;
    border-radius: 5px;
    @include large-text;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    justify-self: center;
    cursor: pointer;
    &:hover {
      background-color: #FFFFFF;
      color: #0D63F3;
      box-shadow: inset 0 0 0 2px #0D63F3;
      transition: 1.5s;
    }
  }

  &_no-btn {
    @include large-text;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #E16D65;
    border: none;
    background: none;
    margin: 20.5px auto 50.5px;
    padding: 0;
    cursor: pointer;
    &:hover {
      font-size: 19px;
      color: #0D63F3;
      transition: 1s;
    }
  }
}

// POPUP OPTIONS **********************************************************************

.popup__options {
  width: 429px;
  background: #FFFFFF;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  display: grid;
  position: relative;
  &_exit-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  &-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 15px;
    margin: 33px 38px 33px 30px;
  }
  &_group-btn {
    width: 173px;
    height: 38px;
    background: rgba(147, 162, 184, 0.1); //сделал темнее на 0.03
    border-radius: 5px;
    border: none;
    @include large-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #93A2B8;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 10px;
    cursor: pointer;
    &-img {
      margin-right: 12px;
    }
    &:hover {
      background: rgba(147, 162, 184, 0.4);
      transition: .3s;
    }
  }
}
