@import "./vendor/normalize.css";
@import "vendor/fonts/fonts.css";
.App {
  background-color: #FFFFFF;
  max-width: 1920px;
  width: 100%;
}

.header {
  background-color: #0D63F3;
  max-height: 74px;
  height: 100%;
  border-radius: 0px 0px 43px 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 56px;
  padding-left: 65px;
  cursor: default;
}
.header__link {
  padding-right: 146px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  text-decoration: none;
}
.header__link:last-child {
  padding-right: 0;
}
.header__user-box {
  display: flex;
  align-items: center;
}
.header__user-img {
  height: 40px;
  cursor: pointer;
}
.header__user-email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0;
  padding: 0 19px 0 8px;
}
.header__user-exit-btn {
  height: 24px;
  width: 24px;
  background: none;
  border: none;
  margin-right: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  color: rgb(25, 255, 255);
}

.evt-btn {
  width: 225px;
  height: 60px;
  background-color: #0D63F3;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 25px 0 35px 65px;
  cursor: pointer;
}
.evt-btn_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.tbl {
  margin: 0 auto;
}
.tbl__headers {
  display: flex;
  margin: 0 65px 50px;
  padding: 0;
}
.tbl__header {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #93A2B8;
  list-style-type: none;
  width: 100%;
}
.tbl__header-number {
  max-width: 49px;
  margin-right: 10px;
}
.tbl__header-title {
  max-width: 261px;
  margin-right: 24px;
}
.tbl__header-status {
  max-width: 211px;
  margin-right: 24px;
}
.tbl__header-date {
  max-width: 204px;
  margin-right: 24px;
}
.tbl__header-lead {
  max-width: 205px;
  margin-right: 24px;
}
.tbl__header-moder {
  max-width: 205px;
  margin-right: 24px;
}
.tbl__header-access {
  max-width: 199px;
  margin-right: 24px;
}
.tbl__header-chat {
  max-width: 136px;
  margin-right: 24px;
}
.tbl__header-options {
  max-width: 142px;
}
.tbl__header-btn {
  width: 8px;
  height: 14px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin-left: 10px;
}
.tbl__contents {
  display: flex;
  margin: 0 65px 42px;
  padding: 0;
  position: relative;
}
.tbl__contents:before {
  position: absolute;
  content: "";
  bottom: -43px;
  margin-bottom: 25px;
  border: 1px solid #D3DDEC;
  max-width: 1789px;
  width: 100%;
}
.tbl__content {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  list-style-type: none;
  width: 100%;
}
.tbl__content-status {
  justify-content: center;
}
.tbl__content-chat {
  justify-content: end;
}
.tbl__content-options {
  justify-content: center;
}
.tbl__content-number {
  max-width: 49px;
  margin-right: 10px;
}
.tbl__content-title {
  max-width: 261px;
  margin-right: 24px;
  position: relative;
  justify-content: space-between;
}
.tbl__content-title-btn {
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0 16px 0 0;
}
.tbl__content-status-btn {
  width: 145px;
  height: 45px;
  background-color: #F5E3DC;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  border: none;
  margin-left: -15px;
}
.tbl__content-date {
  max-width: 204px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  justify-content: center;
  margin-left: 10px;
}
.tbl__content-lead {
  max-width: 205px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  justify-content: end;
}
.tbl__content-moder {
  max-width: 205px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  justify-content: end;
}
.tbl__content-access-btn {
  width: 104px;
  height: 45px;
  background-color: #EAF9E8;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  border: none;
  margin-left: 110px;
}
.tbl__content-chat-btn {
  width: 64px;
  height: 45px;
  background-color: #EAF9E8;
  border-radius: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  border: none;
  margin-right: 24px;
}
.tbl__content-options-btn {
  width: 46px;
  height: 45px;
  background-color: rgba(147, 162, 184, 0.07);
  border-radius: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 17px;
  cursor: pointer;
}
.tbl__content-options-btn:last-child {
  margin-right: 0;
}
.tbl__footers {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 74px 0 73px;
  padding: 0;
}
.tbl__footer-pages {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  cursor: default;
}
.tbl__footer-btns {
  display: flex;
  border: 1px solid #D3DDEC;
  border-radius: 9px;
}
.tbl__footer-btn {
  width: 54px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #F6F8FB;
  border: none;
  cursor: pointer;
}

.popup__delete {
  width: 547px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: grid;
}
.popup__delete_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 23px auto 49px;
}
.popup__delete_yes-btn {
  align-items: center;
  width: 309px;
  height: 60px;
  background: #0D63F3;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  justify-self: center;
  cursor: pointer;
}
.popup__delete_yes-btn:hover {
  background-color: #FFFFFF;
  color: #0D63F3;
  box-shadow: inset 0 0 0 2px #0D63F3;
  transition: 1.5s;
}
.popup__delete_no-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #E16D65;
  border: none;
  background: none;
  margin: 20.5px auto 50.5px;
  padding: 0;
  cursor: pointer;
}
.popup__delete_no-btn:hover {
  font-size: 19px;
  color: #0D63F3;
  transition: 1s;
}

.popup__options {
  width: 429px;
  background: #FFFFFF;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  display: grid;
  position: relative;
}
.popup__options_exit-btn {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.popup__options-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 15px;
  margin: 33px 38px 33px 30px;
}
.popup__options_group-btn {
  width: 173px;
  height: 38px;
  background: rgba(147, 162, 184, 0.1);
  border-radius: 5px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #93A2B8;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 0 0 10px;
  cursor: pointer;
}
.popup__options_group-btn-img {
  margin-right: 12px;
}
.popup__options_group-btn:hover {
  background: rgba(147, 162, 184, 0.4);
  transition: 0.3s;
}

.form {
  display: grid;
  justify-content: center;
  color: #000000;
}
.form__title {
  justify-self: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  margin: 33px 0 38px;
}
.form__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 146px;
}
.form__container-elem {
  display: grid;
  max-width: 398px;
  width: 100%;
}
.form__label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 9px;
}
.form__item {
  border: 1px solid #E6E7E8;
  border-radius: 5px;
  height: 55px;
  padding-left: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 34px;
  box-sizing: border-box;
}
.form__date-box {
  display: flex;
  justify-content: space-between;
}
.form__item_el_date {
  max-width: 192px;
  width: 100%;
}
.form__item_el_time {
  max-width: 187px;
  width: 100%;
}
.form__access {
  display: grid;
  border: none;
  margin: 0;
  padding: 0;
}
.form__access-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: contents;
}
.form__access-password {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}
.form__item_el_access-password {
  margin: 0 19px 0 0;
  display: inline;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.form__options {
  margin: 0;
  padding: 0;
  border: none;
}
.form__options_element {
  position: relative;
  display: flex;
  align-items: center;
}
.form__options_element:before {
  position: absolute;
  content: "";
  bottom: -20px;
  margin-bottom: 25px;
  max-width: 398px;
  width: 100%;
  border: 1px solid #E6E7E8;
}
.form__item_el_options {
  opacity: 0;
}
.form__item_el_options + .form__pseudo-item_type_checkbox::before, .form__item_el_options + .form__pseudo-item_type_checkbox::after {
  content: "";
  position: absolute;
  transition: 150ms cubic-bezier(0.24, 0, 0.5, 1);
  transform: translateY(-50%);
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.form__item_el_options + .form__pseudo-item_type_checkbox::before {
  height: 25px;
  width: 41px;
  border-radius: 30px;
  background: rgba(214, 214, 214, 0.434);
}
.form__item_el_options + .form__pseudo-item_type_checkbox::after {
  height: 21px;
  width: 21px;
  border-radius: 60px;
  right: 28px;
  background: #fff;
}
.form__item_el_options:checked + .form__pseudo-item_type_checkbox:before {
  background: #5DB075;
  transition: all 150ms cubic-bezier(0, 0, 0, 0.1);
}
.form__item_el_options:checked + .form__pseudo-item_type_checkbox:after {
  right: 12px;
}
.form__item_el_options:focus + .form__pseudo-item_type_checkbox:before {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}
.form__item_el_options:disabled + .form__pseudo-item_type_checkbox:before, .form__item_el_options:disabled + .form__pseudo-item_type_checkbox:after {
  cursor: not-allowed;
}
.form__item_el_options:disabled + .form__pseudo-item_type_checkbox:before {
  background: #4f4f6a;
}
.form__item_el_options:disabled + .form__pseudo-item_type_checkbox:after {
  background: #909090;
}
.form__pdf {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.form__pdf-btn {
  width: 225px;
  height: 60px;
  background-color: #0D63F3;
  border-radius: 5px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 47px;
  cursor: pointer;
}
.form__pdf-btn:hover {
  transform: skew(-10deg);
  transition: 1s;
}
.form__pdf-btn-img {
  height: 32px;
  width: 32px;
  margin-left: 10px;
}
.form__adding {
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
}
.form__adding-element {
  position: relative;
}
.form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  border: 1.5px solid #0D63F3;
  border-radius: 50%;
  margin-right: 19px;
  cursor: pointer;
}
.form__item_el_adding {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.form__item_el_adding:checked + .form__pseudo-item_type_checkbox {
  height: 24px;
  width: 24px;
  background-image: url("/src/images/yes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0D63F3;
  border: 1.5px solid #0D63F3;
}
.form__item_el_adding:disabled + .form__pseudo-item_type_checkbox {
  border: 1.5px solid #0D63F3;
}
.form__item_el_adding:disabled:checked + .form__pseudo-item_type_checkbox {
  background-image: url(https://code.s3.yandex.net/web-code/tick_grey.svg);
}
.form__item_el_adding:focus + .form__pseudo-item_type_checkbox {
  box-shadow: 0 0 5px #fff6c5;
}
.form__save-btn {
  justify-self: center;
  width: 225px;
  height: 60px;
  background-color: #0D63F3;
  border-radius: 5px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}
.form__save-btn:hover {
  background-color: #FFFFFF;
  color: #0D63F3;
  box-shadow: inset 0 0 0 2px #0D63F3;
  transition: 1.5s;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 25px;
}
.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
  margin: 0;
}

.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.popup__content {
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.3s all;
}

.popup.active {
  opacity: 1;
  pointer-events: all;
}

.popup__content.active {
  transform: scale(1);
}

/*# sourceMappingURL=index.css.map */
